@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_fullLayout.cshtml";
}

<h2>IDP demo</h2>
<div class="row-fluid">
    <div class="span12 idp" id="idpko">
        <table class="table table-bordered table-striped idp-detail">
            <thead>
                <tr data-bind="with: planHead">
                    <th data-bind="text: colName"></th>
                    <!-- ko foreach: courses -->
                    <th data-bind="attr: { colspan: monthSpan }, text: courseName"></th>
                    <!-- /ko -->
                </tr>
            </thead>
            <tbody data-bind="foreach: planDetail">

                <tr>
                    <td class="row-head" data-bind="text: coursesCol.courseName"></td>
                    <!-- ko foreach: courses -->
                    <td class="hover-highlight">
                        <div class="stamp" data-bind="css: idpcss, click: $root.clickCell">
                            <img src="/Content/img/idp.png" />
                        </div>
                        <!-- ko if: activitytype -->
                        <div class="idp-widget" tabindex='-1' data-bind="visible: showWidget(), event: { focusout: $root.onWidgetBlur }">
                            <!-- ko if: activitytypeArray().length>1 -->
                            <ul class="nav nav-pills nav-stacked" data-bind="foreach: activitytypeArray">
                                <li data-bind="css: { active: activityId == $parent.activitytype()}">
                                    <a href="#" data-bind="text: activityName, click: $parent.clickActivity"></a>
                                </li>
                            </ul>
                             <!-- /ko -->
                            <textarea></textarea>
                        </div>
                        <!-- /ko -->
                    </td>
                    <!-- /ko -->
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <!-- ko foreach: planFooter -->
                    <td><span data-bind="text: DateString"></span></td>
                    <!-- /ko -->
                </tr>
            </tfoot>
        </table>
    </div>
</div>
