@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_fullLayout.cshtml";
}

<h2>IDP demo</h2>
<div class="row-fluid">
    <div class="span12 idp" id="idpko"  data-bind="css: { edit: activeCourse() }">
        <div>
            <table class="table table-bordered">
                <tr data-bind="foreach: legend">
                    <td>
                        <div class="stamp" data-bind="css: idpcss, click: $parent.clickLegend">
                            <img src="/Content/bootstrap/img/glyphicons-halflings.png" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <table class="table table-bordered table-striped idp-detail">
            <thead>
                <tr>
                    <th>Core Course</th>
                    <th colspan="5">TB 5</th>
                    <th colspan="5">TB 6</th>
                    <th colspan="2"></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: planDetail">

                <tr data-bind="css: { active: $root.activeCourse() && (coursesCol.courseId == $root.activeCourse().courseId) }">
                    <td data-bind="text: coursesCol.courseName"></td>
                    <!-- ko foreach: courses -->
                    <td>
                        <div class="stamp" data-bind="css: idpcss, click: function (data) { $root.stamp(data, $root.activeCourse()); }">
                            <img src="/Content/bootstrap/img/glyphicons-halflings.png" />
                        </div>
                    </td>
                    <!-- /ko -->
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <!-- ko foreach: planFooter -->
                    <td><span data-bind="text: monthText"></span></td>
                    <!-- /ko -->
                </tr>
            </tfoot>
        </table>
    </div>
</div>
