.idp img {
    max-width: none;
}

.idp-widget {
    border: 1px solid#0088cc;
    background-color: #FFF;
    position: absolute;
    width: 220px;
    min-height: 100px;
    padding: 5px;
    z-index: 2;
    left: 44px;
    top: 0;
}
.idp-widget li {
    text-align: left;
}
.stamp {
    cursor: pointer;
    display: inline-block;
    width: 44px;
    height: 44px;
    overflow: hidden;
}


.row-head {
    text-align: left;
}

.idp-detail .hover-highlight {
    position: relative;
}

    .idp-detail .hover-highlight:hover {
        background-color: #0088cc;
    }

        .idp-detail .hover-highlight:hover .act-add:after {
            content: "click to add";
        }

.idp-detail tbody td {
    text-align: center;
}

.idp-detail [class^="act-"],
.idp-detail [class*=" act-"] {
    display: inline-block;
    /*top: 0;*/
}

.act-add img {
    display: none;
}
/*.act-add img {
    right: 100px;
}

.act-1-1 img {
    left: 0;
}

.act-2-1 img {
    left: -130px;
}

.act-2-2 img {
    left: -195px;
}
.act-2-3 img {
    left: -195px;
}

.act-2-4 img {
    left: -65px;
}
.act-2-5 img {
    left: -195px;
}

.act-2-6 img {
    left: -65px;
}
.act-3-1 img {
    left: -195px;
}

.act-3-2 img {
    left: -65px;
}

.act-unconfirmed img{
    left: -289px;
}*/

@media print {
}
