.idp img {
    max-width: none;
}

.idp-widget {
    border: 1px solid#0088cc;
    background-color: #E8F4FF;
    position: absolute;
    width: 220px;
    height: 100px;
    padding: 5px;
    z-index: 2;
    right: -190px;
    top: 0;
}
.stamp {
    display: inline-block;
    width: 44px;
    height: 44px;
    overflow: hidden;
    position: relative;
}

    .stamp img {
        position: absolute;
    }

.row-head {
    text-align: left;
}

.idp-detail .hover-highlight {
    position: relative;
}
.idp-detail .hover-highlight:hover {
    background-color: #0088cc;
}

.idp-detail tbody td {
    text-align: center;
}

.idp-detail .stamp img {
    display: none;
}

.idp-detail [class^="act-"] img,
.idp-detail [class*=" act-"] img {
    display: inline-block;
    top: 0;
}

.act-1-1 img {
    left: 0;
}

.act-2-2 img {
    left: -130px;
}

.act-2-3 img {
    left: -195px;
}

.act-3-1 img {
    left: -195px;
}

.act-3-2 img {
    left: -65px;
}
