<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pro Asp.net MVC4</title>
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap-responsive.min.css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script data-main="/scripts/main" src="/scripts/require.js"></script>
</body>

</html>
